
<html>
<head>
      <meta charset="UTF-8">
      <script>
        function requestResource(resourcePath) {
          if (window.location.host.includes("localhost")) {
            console.log('in');
            environmentUrl = "http://localhost:3000"
          }
          else {
            environmentUrl = 'http://rpi3:3000'
          }

          var xobj = new XMLHttpRequest();
          // true parameter denotes asynchronous
          xobj.open('GET', environmentUrl + "/" + resourcePath, true);
          xobj.onreadystatechange = function () {
            if (xobj.readyState == 4 && xobj.status == "200") {
              // This marks that the response has been successfully retrieved from the server
              // Utilize callback
              callback(xobj.responseText);
            }
          };
          xobj.send(null);
        }

        function sayIt(environmentUrl) {
          var sayWhat = document.getElementById('sayItInputTbProd').value;
          resourceString = 'sayall' + '/' + sayWhat;
          requestResource(resourceString)
        }
      </script>
</head>
<body>
  <div>
    <h1>Sonos Favorites (aka Presets)</h1>
    <h3>To use with Amazon Echo: say "echo ask sonos to play preset {preset name}"
        </br>
        For available preset names/utterances see (although utterances are same as button name): 
      <a href="http://jzajac2-ws2.asuscomm.com:5005/preset">presets names</a>
    </h3>
  </div>
  <h2>Shuffles of All Albums by Artist</h2>
  <%= button_to "All Led Zeppelin Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all led zeppelin albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "All Prince Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all prince albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "All Chris Isaak Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all mogwai albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "All Duran Duran Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all duran duran albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "All Mogwai Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all mogwai albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "All Coldplay Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all coldplay albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "All Radiohead Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all radiohead albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %> 
  </br>
  <%= button_to "All Depeche Mode Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all depeche mode albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "All Foo Fighters Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "all foo fighters albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>                        
  </br>
  <%= button_to "All Papercuts Albums", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "All Papercuts Albums", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %> 
  </br>
  <h2>Other Mixes</h2>
  <%= button_to "Currently Learning", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "currently learning", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %> 
  </br>
  <%= button_to "Solo Acoustic Learning", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "solo acoustic learning", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %> 
  </br>
  <%= button_to "Deep Focus", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "deep focus", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>
  </br>
  <%= button_to "Daft Punk Tron Legacy", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "daft punk tron legacy", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>
  </br>
  <%= button_to "Low Fidelity Beats", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "low fidelity beats", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>                        
  </br> 
  <%= button_to "Tonal Recall All Repertoire", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "tonal recall all repertoire", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   
  </br>
  <%= button_to "Tonal Recall Next Show", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "tonal recall next show", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>   

    <div>
    <h1>Books and Podcasts<h1>
  </div>
  <%= button_to "Psycho Cybernetics Book", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "Psycho Cybernetics Book",
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %> 
  </br>
  <div> <h1>Input / Output Sources</h1> </div>
  <%= button_to "Office Computer Output", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "office computer output", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>
  </br>
  <%= button_to "Office Computer Output Only", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "office computer output only", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %> </br>
  <%= button_to "TV Room Output", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "tv room output", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %> 
  </br>
  <%= button_to "TV Room Output Only", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "tv room output only", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>
  </br>

   <div>
    <h1>Routine Presets</h1>
  </div>
  <%= button_to "Noise Therapy Bedroom Only", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "noise therapy bedroom only", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" }, :style => 'height:100%;width:100%'%>
  </br>
  <%= button_to "Sleep Music Bedroom Only", :method => :get, :controller => "presets",
                        :action => "play_preset", :preset_name => "sleep music bedroom only", 
                        :html_options => { :remote => true }, 
                        form: { "data-type" => "json" } %>
  </br>

 <div>
  <h1>Say It!</h1>
</div>
  <%
=begin%>
 <%= form_tag({:controller=>"text_to_speech", :action=>"speak", :text_to_say => "testing"},
                method: :get) do %>
  <%= text_field_tag :text_to_say %>
  <%= submit_tag 'Say it', :text_to_say => text_field_tag.value %>
<% end %>  
<%
=end%>
  
<%= form_tag({:controller=>"text_to_speech", :action=>"speak",
             }, method: :get
              
            ) do %>
  <%= text_field_tag :text_to_speak %>
  <%= submit_tag 'Speak', name: nil %>
<% end %>

  <%
=begin%>
 <input id="sayItInputBtn" type="text">

  <button id="sayItBtn" type="submit" onclick="sayIt('http://localhost:5005')">Say it!</button> 
<%
=end%>
</body>
</html>